.pio
.clang_complete
.gcc-flags.json
.ccls
.cache/clangd/index/cdecode.c.EC966CD678FBC3A3.idx
.cache/clangd/index/cencode.c.18861B77FA214653.idx
.cache/clangd/index/cencode_inc.h.72048EEAF29858ED.idx
.cache/clangd/index/libsha1.c.3C9C036BD4459EF7.idx
.cache/clangd/index/main.cpp.54E9D99FE2FDA8FD.idx
.cache/clangd/index/SocketIOclient.cpp.D0C3A0443124F0AE.idx
.cache/clangd/index/SocketIOclient.h.4DD8417D98118836.idx
.cache/clangd/index/WebSockets.cpp.D4E99CC512A3F5B3.idx
.cache/clangd/index/WebSockets.h.C83F0B71784C9C22.idx
.cache/clangd/index/WebSocketsClient.cpp.1CF9D9439F13B44C.idx
.cache/clangd/index/WebSocketsClient.h.C963619CEC7108AA.idx
.cache/clangd/index/WebSocketsServer.cpp.CEB4B33A7FA90E8C.idx
.cache/clangd/index/WebSocketsServer.h.1310FF69DDEA8BBE.idx
.cache/clangd/index/WebSocketsVersion.h.BD76A2851CD19B34.idx
.DS_Store
compile_commands.json
compile_commands.json
compile_commands.json
